.inputTask {
    text-align: center;
    margin: auto;
    padding: 30px;
}

.List {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 5px;
    font-size: 1.2rem;
    border: 1mm ridge #FFF2F2;
    background-color: #EEE4AB;
}

.main {
    background-color: #B1BCE6;
    justify-content: center;
}